@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zapomniane hasło";
}

<div class="st_form_wrapper_1col">
    <div class="st_form">
        <p class="st_form_title">Email został wysłany.</p>
    </div>
</div>