@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniane hasło";
}
@section Styles{
    <link rel="stylesheet" href="~/css/standard_form.css" />
}

<div class="st_form_wrapper_1col">
    <form class="st_form" method="post">
        <p class="st_form_title">Wpisz email związany z kontem</p>
        <div class="st_form_box">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" />
            <span asp-validation-for="Input.Email" class="st_form_notice"></span>
        </div>
        <div asp-validation-summary="All" class="st_form_summary"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
