@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}
@section Styles{
    <link rel="stylesheet" href="~/css/standard_form.css" />
}
<div class="st_form_wrapper_1col">
    <form id="account" method="post" class="st_form">
        <p class="st_form_title">Zaloguj się</p>
        <div class="st_form_box">
            <label asp-for="Input.Email"></label>
            <input class="st_form_text_input" asp-for="Input.Email" />
            <span class="st_form_notice" asp-validation-for="Input.Email"></span>
        </div>
        <div class="st_form_box st_form_spacer">
            <label asp-for="Input.Password"></label>
            <input class="st_form_text_input" asp-for="Input.Password" />
            <span class="st_form_notice" asp-validation-for="Input.Password"></span>
        </div>
        <div class="st_form_box_longlabel st_form_spacer">
            <input class="st_form_checkbox" asp-for="Input.RememberMe" />
            <label asp-for="Input.RememberMe">Zapamiętaj mnie na tym urządzeniu</label>
            <span class="st_form_notice" asp-validation-for="Input.RememberMe"></span>
        </div>
        <div asp-validation-summary="All" class="st_form_summary"></div>
        <button type="submit" class="st_form_spacer">Zaloguj się</button>

        <div class="st_form_box_longlabel st_form_spacer">
            <p class="st_form_desc">
                <a asp-area="Identity" asp-page="/Account/ForgotPassword">Nie pamiętam hasła.</a>
                <br />
                Nie masz konta? <a asp-area="Identity" asp-page="/Account/Register">Zarejestruj się.</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
