.nav_hero {
    
}

.nav_hero_container{
    
}

.footer_hero
{
    color:white;
    background-color:var(--color-prim-b);
}

.footer_hero a{
    color:white;
}

.body_hero{
    padding-bottom:0;
}

.hero_content {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 60px;
    top: 60px;
    background-image:url(/hero_img.jpg);
}

.hero_box {
    height: 100%;
    /*background: linear-gradient(var(--color-prim-a), var(--color-prim-b));*/
    /*background: linear-gradient(var(--color-prim-a-transp), var(--color-prim-b-transp));*/
    background: linear-gradient(var(--color-prim-a) 0%, var(--color-prim-betweent-transp) 50%, var(--color-prim-b) 100%);
}

.hero_box_inside {
    padding-top: 130px;
}

.hero_introduction_text {
    width: 33%;
    margin-left: 33.5%;
    text-align-last: center;
    text-align: justify;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.hero_welcome_row{
    width:60%;
    margin-left:20%;
    margin-top:60px;
    display:flex;
    justify-content:space-between;
}

.hero_invitation_box {
    width: 31.5%;
    padding: 2%;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    background: linear-gradient(135deg, var(--color-glass-light) 0%, var(--color-glass-normal) 30%, var(--color-glass-strong) 33%, var(--color-glass-normal) 36%, var(--color-glass-normal) 40%, var(--color-glass-strong) 45%, var(--color-glass-strong) 48%, var(--color-glass-normal) 54%, var(--color-glass-light) 100%);
    border-radius: 10px;
    border: 1px solid var(--color-glass-normal);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}

.hero_invitation_box a{
    display:block;
}

.hero_search_form{
    margin-top:40px;
    height:60px;
    display:flex;
    width:66%;
    margin-left:17%;
    justify-content:space-between;
}

.hero_input_city, .hero_input_name, .hero_input_select {
    border-radius: 10px;
    border: none;
    background-color: var(--color-bcg-base);
    font-family: "Segoe UI", "Roboto", "Segoe UI Emoji", "Arial";
    padding: 0 1%;
    font-size: 16px;
}

.hero_input_city::placeholder, .hero_input_name::placeholder{
    opacity:1;
    color:var(--color-text-placeholder);
}

.hero_input_city {
    width: 30%;
}

.hero_input_name {
    width: 30%;
}

.hero_input_select {
    width: 22%;
    font-family: "Segoe UI", "Roboto", "Segoe UI Emoji", "Arial";
    font-size: 16px;
}

.hero_input_submit {
    width: 15%;
    font-size: 16px;
    border-radius:10px;
    border:none;
    background-color:var(--color-accent-b);
}