.search_bar{
    margin-top:60px;
    width:100%;
    padding:0 18%;
}

.search_bar form{
    width:100%;  
}

.search_form_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search_form_row_bot{
    margin-top:20px;
    align-items:center;
}

.search_result_wrapper {
    width: 66%;
    margin: 40px 0 0 17%;
    display: flex;
    justify-content: flex-start;
}

/*Search form inputs*/
.search_form_row_top input, .search_form_row_top select{
    height:55px;
    font-size:18px;
    padding:0 8px;
}

.search_form_row_bot input, .search_form_row_bot select{
    height: 30px;
    padding: 0 4px;
}

.search_form_row_bot input, .search_form_row_bot select, .search_form_row_bot p, .search_form_row_bot label {
    font-size: 16px;
}

.search_form_row_bot p {
    margin: 0;
    font-weight: bold;
}

.search_form_row_bot label {
    font-size: 16px;
    padding:0 8px;
}

.search_widest {
    width: 35%;
}

.search_wide{
    width:30%;
}

.search_normal{
    width:22%;
}

.search_narrow{
    width:15%;
}

.search_submit{
    width:10%;
}

.search_checkbox{
    margin-top:2px;
}

/*Tutor result layout of contents*/

.tutor_result_box{
    width:48%;
    margin:6px 1%;
    height:210px;
    padding:12px 16px;
    border:1px solid gray;
}

.tutor_result_top{
    width:100%;
    height:25%;
    display:flex;
    justify-content:space-between;
}

.tutor_result_bot{
    width:100%;
    height:75%;
}

.tutor_result_left{
    width:60%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.tutor_result_right{
    width:40%;
}

/* Tutor result contents*/

.tutor_name{
    font-size:20px;
    font-weight:bold;
}

.tutor_city{
    font-size:16px;
}

.tutor_subject_list{

}

.tutor_subject_list li{

}

.tutor_rating_box{
    width:100%;
    display:flex;
    align-items:center;
}

.rating_circle {
    display: inline-block;
    border-radius: 40%;
    width: 20px;
    height: 20px;
    margin: 0 1px;
    background-color: var(--color-prim-a-muted);
}

.rating_circle_full{
    background-color:var(--color-prim-a);
    
}

.tutor_rating_box span{
    margin-left:3%;
}