.search_bar {
    width: 100%;
    padding: 45px 18% 35px 18%;
    box-shadow: var(--color-shadow-dark) 6px 6px 12px;
    /*box-shadow: var(--color-shadow-dark) 6px 6px 12px, var(--color-shadow-bright) -6px -6px 12px;*/
}

.search_bar form{
    width:100%;  
}

.search_form_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search_form_row_bot{
    margin-top:22px;
    align-items:center;
}

.search_form_box{
    display:flex;
    padding:0 1%;
    flex-grow:1;
    justify-content:center;
    align-items:center;
}

.search_result_wrapper {
    width: 66%;
    margin: 25px 0 0 17%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}


/*Search form inputs*/
.search_form_row_top input, .search_form_row_top select {
    height: 55px;
    font-size: 18px;
    padding: 0 1.5%;
    background-color: var(--color-bcg-base);
    border-radius:12px;
    box-shadow: var(--color-shadow-dark) 4px 4px 10px, var(--color-shadow-bright) -4px -4px 10px;
    border:none;
}

.search_form_bot_input {
    flex-grow: 1;
    height: 32px;
    padding: 0 6px;
    border: none;
    border-radius: 6px;
    background-color: var(--color-bcg-base);
    box-shadow: var(--color-shadow-dark) 2px 2px 6px, var(--color-shadow-bright) -2px -2px 6px;
}

.search_bar select{
    cursor:pointer;
}

.search_bar input::placeholder {
    opacity: 1;
    color: var(--color-text-placeholder);
}

.search_form_bot_input, .search_form_row_bot p, .search_form_row_bot label {
    font-size: 16px;
}

.search_form_row_bot p {
    margin: 0;
    font-weight: bold;
}

.search_form_row_bot label {
    font-size: 16px;
    padding:0 8px;
}

.search_widest {
    width: 35%;
}

.search_wide{
    width:30%;
}

.search_normal{
    width:22%;
}

.search_narrow{
    width:15%;
}

.search_submit {
    width: 10%;
    background-color: var(--color-accent-b);
    border-radius: 12px;
    box-shadow: var(--color-shadow-dark) 4px 4px 10px, var(--color-shadow-bright) -4px -4px 10px;
    border: none;
}

.search_checkbox {
    flex-grow: 0;
    height: 24px;
    width: 24px;
    cursor: pointer;
    appearance: none;
    padding: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: inset var(--color-shadow-dark) 1px 1px 4px, var(--color-shadow-bright) -1px -1px 4px;
}

.search_shortened_input{
   max-width:80px;
}

.search_checkbox:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 45%;
    border-radius: 25%;
    background-color: var(--color-prim-a);
    box-shadow: var(--color-shadow-dark) 1px 1px 4px, var(--color-shadow-bright) -1px -1px 4px;
}

/*Tutor result layout of contents*/

.tutor_result_box {
    width: calc(50% - 14px);
    margin: 7px 7px;
    height: 210px;
    padding: 1.5% 2%;
    background-color: var(--color-bcg-base);
    border-radius: 14px;
    box-shadow: var(--color-shadow-dark) 6px 6px 12px, var(--color-shadow-bright) -6px -6px 12px;
}

.tutor_result_top{
    width:100%;
    height:25%;
    display:flex;
    justify-content:space-between;
}

.tutor_result_bot{
    width:100%;
    height:75%;
}

.tutor_result_left{
    width:60%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.tutor_result_right{
    width:40%;
}

/* Tutor result contents*/

.tutor_name{
    font-size:20px;
    font-weight:bold;
}

.tutor_city{
    font-size:16px;
}

.tutor_subject_list{

}

.tutor_subject_list li{

}

.tutor_rating_box{
    width:100%;
    display:flex;
    align-items:center;
}

.rating_circle {
    display: inline-block;
    border-radius: 40%;
    width: 20px;
    height: 20px;
    margin: 0 1px;
    box-shadow: inset var(--color-shadow-dark) 4px 4px 7px, inset var(--color-shadow-bright) -4px -4px 7px;
    /*background-color: var(--color-prim-a-muted);*/
}

.rating_circle_full {
    /*background-color:var(--color-prim-a);*/
    background-color: var(--color-accent-b);
    box-shadow: inset var(--color-accent-dark) 4px 4px 7px, inset var(--color-accent-bright) -4px -4px 7px;
}

.tutor_rating_box span{
    margin-left:3%;
}