@page
@using Microsoft.AspNetCore.Identity
@using Korki.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
    Layout = "_LayoutHero";
}

<div class="hero_box">
    <div class="hero_box_inside">
        <h1>KorkiNa5</h1>
        <p class="hero_introduction_text">
            Bla bla bla, tekst tłumaczący o co chodzi w tej stronie na szybko, żeby nowi userzy wiedzieli.
        </p>
        @* notice the form is get method, but goes to Search page, that page model also has BasicSearchTerms model in it*@
        <form method="get" asp-page="/Search" class="hero_search_form">
            <input class="hero_input_name" asp-for="BasicTerms.Name" type="text" placeholder="przedmiot lub korepetytor" />
            <input class="hero_input_city" asp-for="BasicTerms.City" type="text" placeholder="miejscowość" />
            <select class="hero_input_select" asp-for="BasicTerms.LevelStr" asp-items="Model.BasicTerms.PickableLevels"></select>
            <button class="hero_input_submit" type="submit">Szukaj</button>
        </form>

        <div class="hero_welcome_row">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="hero_welcome_box">
                    <p>Witamy ponownie, <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a></p>
                </div>
            }
            else
            {
                <div class="hero_invitation_box">
                    <h5>Potrzebujesz korepetycji? Załóż konto użytkownika i przeglądaj profile korepetytorów.</h5>
                    <a asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
                </div>
                <div class="hero_invitation_box">
                    <h5>Jesteś korepetytorem? Załóż konto dla korepetytorów i zacznij oferowac swoje usługi.</h5>
                    <a asp-area="Identity" asp-page="/Account/RegisterAsTutor">Zarejestruj jako korepetytor</a>
                </div>
                <div class="hero_invitation_box">
                    <h5>Masz już konto? Zaloguj się tutaj:</h5>
                    <a asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
                </div>
            }
        </div>
    </div>
</div>